*{
  padding: 0;
  margin: 0;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

$darkColor: #28293E;
$orangeColor: #EF6D58;
$lightColor: #FDF0E9;
$textDarkColor: #391400;
$textDarkGreyColor: #39140075; // с прозрачностью

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.orange-text {
  color: $orangeColor;
  line-height: 28px;
}

.big-text {
  color: white;
  font-weight: 800;
  font-size: 60px;
}

.uppercase {
  text-transform: uppercase;
}

.dark {
  @extend .big-text;
  color: $darkColor;
  width: 460px;
  text-align: center;
}

.button {
  padding: 14px 20px 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.button-dark {
  @extend .button;
  background-color: inherit;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  &:hover {
    background-color: $orangeColor;
    color: $lightColor;
    border: 1px solid $orangeColor;
  }
}

.button-orange {
  @extend .button;
  background-color: $orangeColor;
  color: white;
  border: none;
  &:hover {
    background-color: $lightColor;
    color: $darkColor;
  }
}

.header {
  background-color: $darkColor;
  color: white;
  padding: 10px;
  &_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_logo {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &_list {
    display: flex;
    gap: 150px;
    list-style-type: none;
  }
  &_list-item {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      transform: translateY(-1px);

    }
  }
}

.about {
  background-color: $darkColor;
  color: white;
  &_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 0px;
  }
  &_text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 35px;
    &__item {
      width: 460px;
    }
  }
}

.help {
  background-color: $lightColor;
  padding: 32px;
  &_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 90px;
  }
  &_cards{
    display: flex;
    width: 100%;
  }
  &_under_cards {
    display: flex;
    flex-direction: row;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: 1px solid #F3D1BF;
  gap: 20px;
  width: 50%;
  box-sizing: border-box;
  &_box {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &_circle {
    background-color: $orangeColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }
  &_big-text {
    font-weight: bold;
    font-size: 24px;
  }
  &_text {
    color: #39140075;
    width: 490px;
    line-height: 28px;
  }
  &_text-btn{
    font-size: 18px;
    color: $textDarkColor;
  }
  &_btn {
    background-color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: $orangeColor;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:last-child{
    margin-left: -1px;
  }
}